<section class= "container-fluid text-wrap">
  <!--Logo-->
  <div class="row">
    <div class="col-4 bg-custom-primary align-content-center p-3 container-size">
      <img src="assets/img/PenguinLogo-wth.png" alt="pageLogo" class="hc-pointer img-fluid">
      <span class="custom-text-color fs-custom m-3 align-bottom hc-pointer d-inline d-none d-lg-inline">Laser Penguin</span>
    </div>
    <!--NavBar-->
    <div class="col-8 bg-custom-primary align-content-center container-size">
      <ul class="list-unstyled list-group list-group-horizontal-md justify-content-md-evenly px-5 m-1 fs-custom">
        <li>
          <div class="text-center">
            <span>{{ option1 }}</span>
          </div>
        </li>
        <li>
          <div class="bg-custom-secondary text-center">
            <span class="custom-text-color2 p-3">{{option2}}</span>
          </div>
        </li>
        <li>
          <div class="text-center">
            <span class="justify-content-evenly">{{ option3 }}</span>
          </div>
        </li>
        <li>
          <div class="text-center">
            <span>{{ option4 }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
