<nav>
    <div>
        <div class="">
            <a href="index.html">
                <img src="" alt="logo">{{logoTitle}}
            </a>
        </div>
        <div class="d-flex justify-content-evenly">
            <ul class="list-group list-group-horizontal">
                <li>
                    <a href="#">{{option1}}</a>
                </li>
                <li>
                    <a href="#">{{option2}}</a>
                </li>
                <li href="#">
                    <a href="#">{{option3}}</a>
                </li>
                <li href="#">
                    <a href="#">{{option4}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>