<div class="container-fluid">
    <div class="row">
        <!-- Logo and Page Name-->
        <div class="col-4 p-2" style="height: 60px;">
            <img src="https://picsum.photos/75" alt="log" href="index.html"/>
            <a class="text-dark text-decoration-none d-none d-md-inline fs-4 text-center align-middle" href="index.html">&nbsp;{{logoTitle}}</a>
        </div>
        <!--Navbar-->
        <div class="col bg-secondary" style="height: 60px;">
            <nav class="h-auto d-inline-block">
                <ul class="list-unstyled list-group list-group-horizontal fs-4">
                    <li><a class="text-center align-middle">{{option1}}</a></li>
                    <li>{{option2}}</li>
                    <li>{{option3}}</li>
                    <li>{{option4}}</li>
                </ul>
            </nav>
        </div>
    </div>
</div>
