<div class="row overflow-auto flex-nowrap">
    <div class="col" *ngFor="let card of cardItems">
        <div class="card p-3 m-2 card-size hc-pointer" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <img src="{{card.imageURL}}" class="card-img-top" alt="..." >
              <div class="card-body">
                <p class="card-text">{{card.context}}</p>
              </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-modal">
      <div class="modal-header" style="border:none;">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>
      <div class="modal-footer" style="border:none;">
        <button type="button" class="btn" style="background-color:#FFFFFF;">
          <span class="">
            {{modalOrderButton}}
            <img src="assets/img/Digital_Glyph_Green.png" alt="Whatsapp Icon" class="img-size"/>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>